html, body{
	height: 100%;
}

.botao a:link, a:visited {
	color: white;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.meu_footer-bg{
	background-color: rgb(52, 58, 64);
	color: rgb(154,157,154);
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
  /*text-align: center;*/
}

