.conteudo_luana {
	width: 40%;
	padding: 10px;
	text-decoration: justify;
	float: right;
	position: relative;
	top:60%;
	left: 50%;
}

.conteudo_nathalia {
	width: 40%;
	padding: 10px;
	text-decoration: justify;
	float: left;
	position: relative;
	top: 140%;
	left: 5%;
}

.bloco_luana {
	padding: 25px;
	left: 20%;
	background-color: lightgray;
}

.bloco_nathalia {
	padding: 25px;
	float: right;
}
