<!DOCTYPE html>
	<html>
	<head>
		<title>Categorias</title>
		<meta charset="utf-8">
		<meta name="description" content="Jogos simples que prometem uma boa diversão !">
		<meta name="author" content="Luana Chiodini e Nathalia Kanis">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/categorias.css">
		<link rel="stylesheet" type="text/css" href="../static/css/menu.css">
		<link rel="icon" type="image/x-icon" href="../static/imagens/icone_play.png">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Início</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/categorias">Categorias</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/sobre">Sobre nós</a>
					</li>    
				</ul>
			</div>
			<a href="/cadastro" class="botao"> <button type="button" class="btn btn-outline-success">Cadastre-se</button></a>
			{% if session["usuario"]: %}
			<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
					</li>
			</ul>
			{% else: %}
			<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/form_login"><i class="fas fa-sign-in-alt"></i> Login</a>
					</li>
			</ul>
			{% endif %}
		</nav>
		<br>
		<br>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-sm-4">
					<div class="card zoom" style="width: 18rem;">
						<img class="card-img-top" src="../static/imagens/pong.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Pong</h5>
							<p class="card-text" style="text-align: justify;"> Seja rápido e evite que o adversário faça pontos.</p>
							<a href="#" class="btn btn-outline-success">Jogar</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card zoom" style="width: 18rem;">
						<img class="card-img-top" src="../static/imagens/jogovelha.jpg" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Jogo da velha</h5>
							<p class="card-text" style="text-align: justify;">Planeje uma estratégia para vencer seu adversário.</p>
							<a href="#" class="btn btn-outline-success">Jogar</a>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card zoom" style="width: 18rem;">
						<img class="card-img-top" src="../static/imagens/snake.png" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">Jogo da cobrinha</h5>
							<p class="card-text" style="text-align: justify;">Explore o mapa e aumente seu tamanho.</p>
							<a href="#" class="btn btn-outline-success">Jogar</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		<br>
		<footer class="page-footer font-small blue meu_footer-bg">
			<div class="footer-copyright text-center py-3">Criado por: Luana Chiodini e Nathalia Lais de Souza Kanis
			</div>
		</footer>
	</body>
</html>
