<!DOCTYPE html>
<html>
	<head>
		<title>Página Inicial</title>
		<meta charset="utf-8">
		<!--<meta http-equiv="refresh" content="60"> -->
		<meta name="description" content="Jogos simples que prometem uma boa diversão !">
		<meta name="author" content="Luana Chiodini e Nathalia Kanis">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="icone.png">
		<link rel="stylesheet" type="text/css" href="../static/css/pagina_inicial.css">
	</head>
	<body>
		<div id="barra">barra</div>
		<header>
			<img src="../static/imagens/play.png" alt="play" id="logotipo">
		</header>
		<nav>
			<ul class="itens_barra">
			  	<b><a href="pagina_inicial" class="botao">Início</a></b>
			  	<b><a href="jogos" class="botao">Jogos</a></b>
			  	<b><a href="cadastro" class="botao">Cadastro</a></b>
			  	<b><a href="informacoes" class="botao">Sobre nós</a></b>
		  	</ul>
		</nav>
		<div id="texto">
			<h1>aaaaaaa</h1>
			<h1>aaaaaaa</h1>
			<h1>aaaaaaa</h1>
			<h1>aaaaaaa</h1>
			<h1>aaaaaaa</h1>
		</div>
		<footer>
			<p>Criadoras:</p>
			<p>Luana Chiodini</p>
			<p>Nathalia Lais de Souza Kanis</p>
		</footer>
	</body>
</html>