<!DOCTYPE html>
	<html>
	<head>
		<title>Sobre nós</title>
		<meta charset="utf-8">
		<meta name="description" content="Jogos simples que prometem uma boa diversão !">
		<meta name="author" content="Luana Chiodini e Nathalia Kanis">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../static/css/sobre_nos.css">
		<link rel="stylesheet" type="text/css" href="../static/css/menu.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="icon" type="image/x-icon" href="../static/imagens/icone_play.png">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	</head>
	<body>
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/">Início</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/categorias">Categorias</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/sobre">Sobre nós</a>
					</li>    
				</ul>
			</div>
			<a href="/cadastro" class="botao"> <button type="button" class="btn btn-outline-success">Cadastre-se</button></a>
			{% if session["usuario"]: %}
			<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
					</li>
			</ul>
			{% else: %}
			<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="/form_login"><i class="fas fa-sign-in-alt"></i> Login</a>
					</li>
			</ul>
			{% endif %}
		</nav>
		<div class="container-fluid">
			<div class="container-fluid">
				<div class="container-fluid">
					<img src="../static/imagens/luaninha.jpg" class="rounded-circle float-left img-fluid" alt="foto luana" width="400" height="450">
					<div class="conteudo_luana">
						<p>Somos Luana Chiodini e Nathalia Kanis, estudamos no Instituto Federal Catarinense - Campus Blumenau. Atualmente cursamos o ensino médio Integrado ao curso Técnico em Informática. Desenvolvemos esse site para a disciplina de Projeto Integrador.</p>
					</div>
				</div>
			</div>

			<div class="container-fluid">
				<div class="container-fluid">
						<img src="../static/imagens/nathalia.jpg" class="rounded-circle float-right img-fluid" alt="foto luana" width="425" height="725">
				</div>
			</div>
		</div>
		<footer class="page-footer font-small blue meu_footer-bg">
			<div class="footer-copyright text-center py-3">Criado por: Luana Chiodini e Nathalia Lais de Souza Kanis
			</div>
		</footer>
	</body>
</html>